::ng-deep {
  body {
    font-family: Lato;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  my-app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
}

.nav {
  color: #fff;
  font-weight: 300;

  background-color: #451771;
  padding: 10px;
}

.main {
  margin: 10px;
}

.footer {
  color: #fff;
  font-weight: 300;

  background-color: #333;
  padding: 10px;
}
